.main-quote-area {
  background-color: #cdd2de;
  display: flex;
  flex-direction: column;
}

.quote-text {
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(63, 62, 62);
}

.quote-author {
  margin-left: 10rem;
  font-size: calc(10px + 2vmin);
  color: rgb(63, 62, 62);
}
